<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CGPDisplayNameOvr</key>
	<string>PS4 Analogue</string>
	<key>CGPDeviceType</key>
	<string>PS3</string>
	<key>VendorID</key>
	<integer>0x054c</integer>
	<key>ProductID</key>
	<integer>0x09cc</integer>
	<key>LeftAxisX</key>
	<string>1:48</string>
	<key>LeftAxisY</key>
	<string>1:49</string>
	<key>LeftTrigger</key>
	<string>1:51</string>
	<key>RightAxisX</key>
	<string>1:50</string>
	<key>RightAxisY</key>
	<string>1:53</string>
	<key>RightTrigger</key>
	<string>1:52</string>
	<key>ButtonA</key>
	<string>9:2</string>
	<key>ButtonB</key>
	<string>9:3</string>
	<key>ButtonX</key>
	<string>9:1</string>
	<key>ButtonY</key>
	<string>9:4</string>
	<key>LeftShoulder</key>
	<string>9:5</string>
	<key>RightShoulder</key>
	<string>9:6</string>
	<key>LeftThumb</key>
	<string>9:11</string>
	<key>RightThumb</key>
	<string>9:12</string>
	<key>ButtonStart</key>
	<string>9:10</string>
	<key>ButtonBack</key>
	<string>9:14</string>
	<key>ButtonDevice</key>
	<string>0</string>
	<key>DPadUp</key>
	<string>0</string>
	<key>DPadDown</key>
	<string>0</string>
	<key>DPadLeft</key>
	<string>0</string>
	<key>DPadRight</key>
	<string>0</string>
	<key>Hatswitch</key>
	<string>1:57</string>
	<key>HSValueRest</key>
	<integer>8</integer>
	<key>HSValueUp</key>
	<integer>0</integer>
	<key>HSValueUpRight</key>
	<integer>1</integer>
	<key>HSValueRight</key>
	<integer>2</integer>
	<key>HSValueDownRight</key>
	<integer>3</integer>
	<key>HSValueDown</key>
	<integer>4</integer>
	<key>HSValueDownLeft</key>
	<integer>5</integer>
	<key>HSValueLeft</key>
	<integer>6</integer>
	<key>HSValueUpLeft</key>
	<integer>7</integer>
	<key>XAxisInitValue</key>
	<integer>127</integer>
	<key>YAxisInitValue</key>
	<integer>127</integer>
</dict>
</plist>
